* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

body {
  background: #fafafa;
}
.hero {
  height: 100vh;
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: 50% 30%;
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  padding-bottom: 12vh;
}
}

html[dir="rtl"] .lang-switch {
  right: auto;
  left: 20px;
}

.lang-switch a {
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.hero-content p {
  margin: 20px 0;
  font-size: 1.2rem;
  color: #fff;
}
.hero-content h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 5rem;  /* کوچیک‌تر از قبل */
  color: #fff;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  padding: 12px 30px;
  background: #fff;
  color: #333;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #333;
  color: #fff;
}
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 3rem;
  }
}

